{% extends "/html/base.html" %}

{% block subtitle %}: Secret {% endblock %}

{% block content %}

<h2>Congratulations! You've Found a Secret</h2>

<p>Here's a quote from one of my favorite books:</p>

<blockquote>
  <p>
    Life in itself is a meaningless process. This is why I have always sought a lofty occupation in life.
    I wanted to love selflessly, I was always bored alone with myself.
    I loved, as I now see, extraordinarily, powerfully, and terribly, but it turned out that I wanted an answering love.
    It's not good when you want something in return.
  </p>
</blockquote>

{% endblock %}
